
   <div class="row">
      <div class="col">
         <h1>Ordenes</h1>
         <div class="table-responsive-sm">
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th>Pedido</th>
                     <th>Envio</th>
                     <th>Estado</th>
                     <th>Total</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each order}}
                     <tr>
                        <td>{{this.pedido}}</td>
                        <td>{{this.envio}}</td>
                        <td>{{this.estado}}</td>
                        <td>{{this.total}}</td>
                     </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
      </div>
   </div>
