<div class="row">
   <div class="col-md-4 mx-auto">
      <div class="card">
         <div class="card-header">
            Iniciar Session
         </div>
         <img src="/img/logoIniciarSession.png" class="rounded-circle mx-auto d-block m-4" width="121" height="121">
         <div class="card-body">
            <form action="/usersClientes/signin" method="POST">
               <div class="form-group">
                  <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu username" required>
               </div>
               <div class="form-group">
                  <input type="password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
               </div>
               <button class="btn btn-primary btn-block">Iniciar Session</button>
            </form>
         </div>
      </div>
   </div>
</div>