<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner " style="height: 70%;">
    <div class="carousel-item active">
      <img src="/img/02.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption" >
         <h1 class="diplay-2">Hotel Gaviota</h1>
         <h3>Beach resort</h3>
         <button type="button" class="btn btn-outline-light btn-lg">VER GALERIA</button>
         <button type="button" class="btn btn-primary btn-lg">Reservar</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/img/01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/03.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>

{{!-- Segundo item del Index --}}
<div class="container-fluid padding">
   <div class="row welcome text-center">
      <div class="col-12">
         <h1 class="display-7">Bienvenido</h1>
      </div>
      <hr class="my-4">
      <div class="col-12">
         <p class="lead">Venga y disfrute de una estancia agradable, en plan familiar o ejecutivo, donde nuestra vocación es el buen servicio.</p>
      </div>
   </div>
</div>
{{!-- fixed --}}

<div class="fixed-bg"></div>

{{!--  --}}
<div class="container-fluid padding">
   <div class="row welcome text-center">
      <div class="col-md-12">
         <h1 class="display-4">PUERTO VALLARTA, JAL.</h1>
      </div>
      <hr>
   </div>
</div>

{{!-- cards --}}
<div class="containter-fluid padding">
   <div class="row padding">
      <div class="col-md-4">
         <div class="card">
            <img src="/img/r1.jpg" alt="" class="card-img-top">
            <div class="card-body">
               <h4 class="card-title">Playas</h4>
               <p class="card-text">Playa Colomitos, Playa Las Animas, Playa Quimixto, Playa de Yelapa, Playa Gemelas, Playa la Manzanilla, Caletas.
               </p>
               <p class="card-text">Tours en barcos por la bahía (estos pueden ser para el día o por la noche) Pregunta en recepción por los costos.
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <img src="/img/r2.jpg" alt="" class="card-img-top">
            <div class="card-body">
               <h4 class="card-title">Discotecas</h4>
               <p class="card-text">Discoteca JB, esta la encuentras a un costado de la entrada principal del Hotel, su concepto es Tropical Latino. Con el brazalete del hotel tienes acceso gratis, este se encuentra abierto de Lunes a Sábado de 6:00 p.m. a 3:00 a.m.
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card">
            <img src="/img/r3.jpg" alt="" class="card-img-top">
            <div class="card-body">
               <h4 class="card-title">Un día de pesca</h4>
               <p class="card-text">Consulta en recepción por las embarcaciones privadas para salir de pesca, donde podrás capturar, el pez vela, marlín o dorado.
               </p>
               <p class="card-text">En su época (de enero a abril) el avistamiento de ballenas.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>

