<br><br><br><br>
<div class="row">
   
   <div class="col-md-4 mx-auto">
      <div class="card">
         <div class="card-header">
            Administrador
         </div>
         <img src="/img/logoUsuario.png" class=" mx-auto d-block m-4" width="121" height="121">
         <div class="card-body">
            <form action="/users/signin" method="GET">  
               <button class="btn btn-primary btn-block" >Iniciar Sesion</button>
            </form>
         </div>
      </div>
   </div>

   <div class="col-md-4 mx-auto">
      <div class="card">
         <div class="card-header">
            Afiliado
         </div>
         <img src="/img/logoCliente.png" class=" mx-auto d-block m-4" width="121" height="121">
         <div class="card-body">
            <form action="/usersClientes/signin" method="GET">
               <button class="btn btn-primary btn-block">Iniciar Sesion</button>
            </form>
         </div>
      </div>
   </div>
</div>